
<div class=" card my-3" id="<%= dom_id blog %>">
  <div class="card-header">
    <h5 class="card-title">
        <%= blog.title %>
    </h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <%= blog.body %>
    </li>
  </ul>
  <div class="card-body">
    <div class="col">
    <%= link_to "All Blogs", blogs_path, class: "btn btn-primary  m-1"%>
    <%= link_to "View", blog_path(blog), class: "btn btn-success m-1"%>
    <%= link_to "Edit", edit_blog_path(blog), class: "btn btn-warning m-1 "%>
    </div>
  </div>
</div>